<div class="p-2">
    <h2>Manage my book</h2>
    <hr>
    <div class="alert alert-danger mt2" role="alert" *ngIf="errorMsg.length">
        <p class="p-0 m-0" *ngFor="let msg of errorMsg">{{msg}}</p>
    </div>
    <div class="d-flex gap-2">
        <div class="col-3">
            <img class="rounded-1" width="100%" height="100%"
                [src]="selectedPicture || 'https://plus.unsplash.com/premium_photo-1678167657994-5b96138b6abb?q=80&w=738&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'"
                alt="...">
            <div clas="mt-2">
                <input class="form-control" type="file" id="formFile" name="formFile" accept="image/*"
                    (change)="onFileSelected($event)">
            </div>
        </div>
        <div class="col-3">
            <div class="col-9">
                <form class="row g-3">
                    <div class="col-12">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" [(ngModel)]="bookRequest.title" class="form-control" id="title" name="title"
                            placeholder="Book title">
                    </div>
                    <div class="col-6">
                        <label for="author" class="form-label">Author name</label>
                        <input type="text" [(ngModel)]="bookRequest.authorName" class="form-control" id="author"
                            name="author" placeholder="Author name">
                    </div>
                    <div class="col-6">
                        <label for="isbn" class="form-label">ISBN</label>
                        <input type="text" [(ngModel)]="bookRequest.isbn" class="form-control" id="isbn" name="isbn"
                            placeholder="Book ISBN">
                    </div>
                    <div class="col-12">
                        <label for="synopsis" class="form-label">Synopsis</label>
                        <textarea [(ngModel)]="bookRequest.synopsis" rows="4" cols="10" class="form-control"
                            name="synopsis" id="synopsis" placeholder="Book Synopsis">
                            </textarea>
                    </div>
                    <div class="col-12">
                        <input [(ngModel)]="bookRequest.shareable" type="checkbox" class="form-check-input" id="shareme"
                            name="shareme">
                        <label for="shareme" class="form-check-label">Share me</label>
                    </div>
                    <div class="d-flex justify-content-end gap-2 col-12">
                        <button (click)="saveBook()" type="submit" class="btn btn-primary"><i class="fas fa-save"></i>&nbsp;Save</button>
                        <a routerLink="/books/my-books" type="submit" class="btn btn-link text-danger"><i class="fas fa-times"></i>&nbsp;Cancel</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>