<nav class="pagination-container">
  <!-- First Button -->
  <button [disabled]="currentPage() === 1" (click)="selectPage(1)">
    <i class="fas fa-angle-double-left"></i>
  </button>
  <!-- Previous Button -->
  <button [disabled]="currentPage() === 1" (click)="selectPage(currentPage() - 1)">
    <i class="fas fa-angle-left"></i>
  </button>

  <!-- Page Numbers -->
  <div class="page-numbers">
    @for (page of pages(); track page) {
    <button [class.active]="page === currentPage()" (click)="selectPage(page)">
      {{ page }}
    </button>
    }
  </div>

  <!-- Next Button -->
  <button [disabled]="currentPage() === totalPages()" (click)="selectPage(currentPage() + 1)">
    <i class="fas fa-angle-right"></i>
  </button>
  <!-- Last Button -->
  <button [disabled]="currentPage() === totalPages()" (click)="selectPage(totalPages())">
    <i class="fas fa-angle-double-right"></i>
  </button>
</nav>
